node_modules
*.swp
*.swo
*.orig
.env
.env*.local
jwks.json
*.log

.idea
.vscode

cypress/downloads
cypress/screenshots
cypress/videos
!cypress/e2e/*/fixtures.sql

/build/*
!/build/.keep

/dist/*
!/dist/.keep
