#email-badge-lowercase {
  text-transform: lowercase;
}

.inline-form {
  display: inline;
}

.error-code {
  white-space: pre-line;
}

.alert-description {
  white-space: break-spaces;
}

/* magic link icon */
#magic-link-icon-inline {
  padding: 0 1.5rem;
}

#magic-link-icon-block {
  text-align: center;
  margin: 3rem 0;
}

#magic-link-icon-block > img {
  height: 46px;
}

/* proconnect-header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* DELETE WHEN HEADER FROM DSFR WILL REPLACE MCP HEADER */
  border-bottom: solid 1px #ddd;
  /* DELETE WHEN WE'LL FOUND BEST SOLUTION TO MASK GREY */
  background-color: white;
}

.header > img {
  height: 4.5rem;
  margin: 2.5rem 0 1.5rem;
}

@media all and (max-width: 576px) {
  .header > img {
    height: 3.5rem;
    margin: 1.5rem 0 0.5rem;
  }
}

/* display a loading bar on page load */
#loader-bar {
  transition: width 150ms ease-in-out;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
}
