body,
html {
  height: 100%;
}

#email-badge-lowercase {
  text-transform: lowercase;
}

.inline-form {
  display: inline;
}

.error-code {
  white-space: pre-line;
}

.alert-description {
  white-space: break-spaces;
}

/* magic link icon */
#magic-link-icon-inline {
  padding: 0 1.5rem;
}

#magic-link-icon-block {
  text-align: center;
  margin: 3rem 0;
}

#magic-link-icon-block > img {
  height: 46px;
}

/* moncomptepro-header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* DELETE WHEN HEADER FROM DSFR WILL REPLACE MCP HEADER */
  border-bottom: solid 1px #ddd;
  /* DELETE WHEN WE'LL FOUND BEST SOLUTION TO MASK GREY */
  background-color: white;
}

.header > img {
  height: 4.5rem;
  margin: 2.5rem 0 1.5rem;
}

@media all and (max-width: 576px) {
  .header > img {
    height: 3.5rem;
    margin: 1.5rem 0 0.5rem;
  }
}

/* not-found-error */
.not-found-error {
  gap: 0;
}

.not-found-error > img {
  height: 18rem;
}

.not-found-error > h1 {
  text-align: center;
  max-width: 52rem;
}

.not-found-error > *:last-child {
  margin-bottom: 8rem;
}

/*
 * anchors are meant to be second in the DOM (for better screen reader support)
 * but we want to display them first visually
 */
.title-with-anchor {
  display: flex;
}

.title-with-anchor > a {
  order: -1;
  align-self: center;
  opacity: 0;
  transform: translateX(-28px);
  margin-right: -32px;
  background-color: transparent !important;
}

.title-with-anchor:hover > a,
.title-with-anchor > a:focus-visible {
  opacity: 1;
}

/* display a loading bar on page load */
#loader-bar {
  transition: width 150ms ease-in-out;
  width: 100%;
  height: 3px;
  top: 0;
  left: 0;
  z-index: 1000;
  position: absolute;
}

/* MCP side illustration */
.mcp-full-height {
  height: 100%;
}

.mcp-background-alt-grey {
  display: flex;
  position: absolute;
  inset: 0;
  left: 50%;
  background: #f6f6f6;
  z-index: -1;
}

.mcp-sticky-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.mcp-sticky-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

@media only screen and (max-width: 991px) {
  .side-media,
  .mcp-background-alt-grey {
    display: none;
  }
}
