/* general layout */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* page layout container */
.page-container {
  max-width: 1200px;
  width: 100%;
  margin: 1.5rem auto 1.5rem;
}

@media all and (max-width: 1248px) {
  .page-container {
    margin: 1.5rem;
    width: calc(100% - 3rem);
  }
}

/* dashboard header */
.dashboard-header {
  background-color: #fff;
  filter: drop-shadow(0 1px 3px rgba(0, 0, 18, 0.16));
}

.dashboard-header .dashboard-header__container {
  max-width: 78rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.dashboard-header__title {
  max-width: 78rem;
  margin: auto;
  padding: 1.5rem 1.5rem 0;
}

.dashboard-header .dashboard-header__container .dashboard-header__link {
  flex-shrink: 0;
}

.dashboard-header .dashboard-header__container .fr-header__brand-top {
  margin: -1rem;
}

/* dashboard layout container */
.dashboard-container nav {
  grid-area: nav;
}

.dashboard-container .dashboard-content {
  grid-area: content;
}

.dashboard-container {
  max-width: 78rem;
  padding: 1.5rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas: "nav content";
}

@media (max-width: 62em) {
  .dashboard-container {
    padding: 1rem;
  }
}

@media all and (max-width: 768px) {
  .dashboard-container {
    padding-top: 0;
    grid-template-columns: 100%;
    grid-template-areas:
      "nav"
      "content";
  }

  .dashboard-container .dashboard-content {
    margin-top: 1rem;
  }
}

/* onboarding layout container */
.onboarding-container > *:first-child {
  grid-area: content;
  max-width: 35rem;
  width: 100%;
  padding: 2.5rem 2rem;
}

.onboarding-container > *:last-child {
  grid-area: illu;
  background: #f6f6f6;
}

.onboarding-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "content illu";
  align-items: center;
  justify-items: center;
}

@media (max-width: 62em) {
  .onboarding-container > *:first-child {
    padding: 1rem;
  }
}

@media all and (max-width: 992px) {
  .onboarding-container {
    grid-template-columns: 100%;
    grid-template-areas: "content";
  }

  .onboarding-container > *:first-child {
    padding: 2.5rem 1rem;
  }

  .onboarding-container > *:last-child {
    display: none;
  }
}

.card-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.centered-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
