header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

body {
    min-height: 100vh;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.page-container {
    max-width: 1200px;
    width: 100%;
    margin: 1.5rem auto 1.5rem;
}

@media all and (max-width: 1248px) {
    .page-container {
        margin: 1.5rem;
        width: calc(100% - 3rem);
    }
}

.dashboard-container .dashboard-head {
    grid-area: head;
}

.dashboard-container nav {
    grid-area: nav;
}

.dashboard-container .dashboard-content {
    grid-area: content;
}

.dashboard-container {
    max-width: 78rem;
    padding: 1.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas:
            'head head'
            'nav content';
}

@media (max-width: 62em) {
    .dashboard-container {
        padding: 1rem;
    }
}

@media all and (max-width: 992px) {
    .dashboard-container .dashboard-head {
        display: none;
    }

    .dashboard-container {
        grid-template-areas:
            'nav content';
    }
}

@media all and (max-width: 768px) {
    .dashboard-container .dashboard-head {
        display: none;
    }

    .dashboard-container {
        padding-top: 0;
        grid-template-columns: 100%;
        grid-template-areas:
                'nav'
                'content';
    }

    .dashboard-container .dashboard-content {
        margin-top: 1rem;
    }
}

.card-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    flex-direction: column;
    gap: 1.5rem;
}

.card-container .fr-alert + .fr-alert {
    margin-top: 0;
}

.card-container > * {
    width: 100%;
    max-width: 35rem;
}

.card-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

#go-back-link {
    cursor: pointer;
}

#email-badge-lowercase {
    text-transform: lowercase;
}

#send-email-verification {
    display: inline;
}

.error-code {
    white-space: pre-line;
}

.alert-description {
    white-space: break-spaces;
}

#magic-link-icon-inline {
    padding: 0 1.5rem;
}

#magic-link-icon-block {
    text-align: center;
    margin: 3rem 0;
}

#magic-link-icon-block > img {
    height: 46px;
}
