body {
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.page-container {
    max-width: 1200px;
    width: 100%;
    margin: 1.5rem auto 1.5rem;
}

@media all and (max-width: 1248px) {
    .page-container {
        margin: 1.5rem;
        width: calc(100% - 3rem);
    }
}

.dashboard-header {
    background-color: #fff;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 18, .16));
}

.dashboard-header .dashboard-header__container {
    max-width: 78rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.dashboard-header__title {
  max-width: 78rem;
  margin: auto;
  padding: 1.5rem 1.5rem 0;
}

.dashboard-header .dashboard-header__container .dashboard-header__link {
    flex-shrink: 0;
}

.dashboard-header .dashboard-header__container .fr-header__brand-top {
    margin: -1rem;
}

@media (max-width: 62em) {
    .dashboard-container {
        padding: 1rem;
    }
}

.dashboard-container nav {
    grid-area: nav;
}

.dashboard-container .dashboard-content {
    grid-area: content;
}

.dashboard-container {
    max-width: 78rem;
    padding: 1.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-areas: 'nav content';
}

@media (max-width: 62em) {
    .dashboard-container {
        padding: 1rem;
    }
}

@media all and (max-width: 768px) {

    .dashboard-container {
        grid-template-columns: 100%;
        grid-template-areas:
                'head'
                'nav'
                'content';
    }

    .dashboard-container .dashboard-content {
        margin-top: 1rem;
    }
}

.card-container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    flex-direction: column;
    gap: 1.5rem;
}

.card-container .fr-alert + .fr-alert {
    margin-top: 0;
}

.card-container > * {
    width: 100%;
    max-width: 35rem;
}

.card-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

#email-badge-lowercase {
    text-transform: lowercase;
}

#send-email-verification {
    display: inline;
}

.error-code {
    white-space: pre-line;
}

.alert-description {
    white-space: break-spaces;
}

#magic-link-icon-inline {
    padding: 0 1.5rem;
}

#magic-link-icon-block {
    text-align: center;
    margin: 3rem 0;
}

#magic-link-icon-block > img {
    height: 46px;
}

.moncomptepro-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.moncomptepro-header > img {
    height: 4.5rem;
    margin: 2.5rem 0 1.5rem;
}


@media all and (max-width: 576px) {
    .moncomptepro-header > img {
        height: 3.5rem;
        margin: 1.5rem 0 0.5rem;
    }
}

.not-found-error {
    gap: 0;
}

.not-found-error > img {
    height: 18rem;
}

.not-found-error > h1 {
    text-align: center;
    max-width: 52rem;
}

.not-found-error > *:last-child {
    margin-bottom: 8rem;
}

.title-with-anchor > a {
    visibility: hidden;
    transform: translateX(-28px);
    margin-right: -40px;
    background-color: transparent !important;
}

.title-with-anchor:hover > a {
    visibility: visible;
}

.moncomptepro-notice--email .fr-notice__body:before {
    content: "";
    background-image: url(/assets/060-at.svg);
    background-color: inherit;
}

.fr-notice.moncomptepro-notice--email {
    background-color: var(--background-contrast-info);
}

.moncomptepro-notice--email strong {
    color: var(--text-default-info);
}

.fr-notice.moncomptepro-notice--change-email {
  color: var(--text-action-high-blue-france);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.fr-notice.moncomptepro-notice--change-email .fr-notice__body:before {
    content: none;
}

.fr-notice.moncomptepro-notice--change-email .fr-notice__body {
    padding-left: 0;
}

.fr-notice.moncomptepro-notice--change-email .fr-btn--close:before {
    -webkit-mask-image: url(icons/system/arrow-go-back-fill.svg);
    mask-image: url(icons/system/arrow-go-back-fill.svg);;
}

.fr-tile.moncomptepro-selectable-tile {
    box-shadow: inset 0 0 0 1px var(--border-default-grey);;
}

.fr-tile.moncomptepro-selectable-tile.moncomptepro-selected-tile {
    box-shadow: inset 0 0 0 1px var(--border-plain-blue-france);;
}
