body {
    /*--theme-background-grey*/
    background-color: #ebeff3;
}

.header-logo {
    width: 200px;
    margin: 20px auto;
    height: auto
}

.box-container {
    max-width: 800px;
    margin: auto;
    padding: 3em;
    border-radius: 5px;
    border: 1px solid #aaa;
    background-color: #fff;
}

@media (max-width: 750px) {
    .box-container {
        padding: 3em 10%;
    }
}

@media (max-width: 400px) {
    .box-container {
        padding: 3em 5%;
    }
}

header.navbar + .box-container {
    margin-top: 3em;
}

input.button.large, input.button.large:focus {
    width: 100%;
}

/* override template style for submit button */
input.link-submit,
input.link-submit:active,
input.link-submit:visited,
input.link-submit:focus,
input.link-submit:hover {
    display: inline;
    padding: inherit;
    /*--theme-primary*/
    color: #0053b3;
    background-color: #fff;
    border: inherit;
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
    font-family: inherit;
    font-size: inherit;
    position: inherit;
    top: inherit;
    overflow: inherit;
    text-decoration: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -ms-transform: inherit;
    -o-transform: inherit;
    transform: inherit;
    cursor: pointer;
    width: inherit;
    line-height: inherit;
    vertical-align: inherit;
}

a.external-link {
    text-decoration: none;
}

div.with-input-hint {
    text-align: left;
}

/* side by side forms on a single line */
.inline-form {
    margin-top: 2em;
}
.inline-form form {
    display: inline-block;
}
.inline-form form {
    margin: 0 0.25em;
}

@media (max-width: 550px) {
    .inline-form form {
        display: block;
    }
    .inline-form form {
        margin: 0.5em 0 0 0;
    }
}

/* form with inline content */
form.inline {
    text-align: left;
    margin: 0 0 0 auto;
}

form.inline .section__title {
    font-size: inherit;
    margin: inherit;
}

form.inline .form__group {
    display: inline-block;
}

form.inline .form__group + .form__group {
    margin-top: inherit;
}

form.inline .form__group label {
    font-size: 0.9em;
    margin-bottom: inherit;
}

form.inline .form__group input {
    width: inherit;
    padding: inherit;
    line-height: inherit;
}

form.inline .form__group input.button.large {
    display: inline-block;
    box-shadow: inherit;
    -webkit-box-shadow: inherit;
    padding: 0.05em 1em;
    font-size: inherit;
}

/* side by side input field */
.form-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.form-row + .form__group {
    margin-top: 2em;
}

.form-col {
    flex-grow: 1;
}

.form-col + .form-col {
    margin-left: 2em;
}

@media all and (max-width: 549px) {
    .form-row {
        flex-direction: column;
    }

    .form-col + .form-col {
        margin-left: inherit;
        margin-top: 2em;
    }
}
