<html>
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-32x32.png">
    <link rel="stylesheet" href="https://unpkg.com/template.data.gouv.fr@1.1.5/dist/style/main.css">
    <link rel="stylesheet" href="/assets/application.css">
    <!-- Matomo -->
    <script type="text/javascript" src="/assets/piwik.js"></script>
    <noscript><p><img src="//stats.data.gouv.fr/piwik.php?idsite=85&amp;rec=1" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</head>
<body>
<div class="main">
    <div class="text-center">
        <img class="header-logo" src="/assets/logo_api.svg" alt="Acceuil de signup.api.gouv.fr">
        <%- body %>
    </div>
</div>
</body>
</html>
