<!DOCTYPE html>
<html lang="fr">
<%- include('partials/head.ejs'); %>
<body>
<%- include('partials/header.ejs'); %>
<main>
    <%- body %>
</main>
<%- include('partials/footer.ejs'); %>
</body>
</html>
