<html>
<% include partials/head %>
<body>
<div class="main">
    <div class="text-center">
        <img class="header-logo" src="/assets/logo_api.svg" alt="Accueil de signup.api.gouv.fr">
        <%- body %>
    </div>
</div>
</body>
</html>
