<div class="box-container">
    <h3 class="section__title">Changez votre mot de passe</h3>

    <form action="/users/change-password" method="post">

        <% if (locals.notifications) { %>
            <% notifications.forEach(({type, message}) => { %>
                <div class="notification <%= type %>">
                    <%= message %>
                </div>
            <% }) %>
        <% } %>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

        <input type="hidden" name="reset_password_token" value="<%= resetPasswordToken %>"/>

        <div class="form__group with-input-hint">
            <label for="password">Nouveau mot de passe</label>
            <input class="form-control" required type="password" id="password" name="password" aria-label="Mot de passe" autofocus="on" minlength="10">
            <small class="card__meta"><i>Choisissez au moins 10 caractères</i></small>
        </div>

        <div class="form__group with-input-hint">
            <label for="confirm_password">Confirmez votre mot de passe</label>
            <input class="form-control" required type="password" id="confirm_password" name="confirm_password" aria-label="Confirmez votre mot de passe">
        </div>

        <div class="form__group">
            <input type="submit" value="Changer mon mot de passe" class="button large wide">
        </div>
    </form>
</div>

<script src="/assets/confirm-password.js"></script>
