<div class="card-container">
    <div class="fr-alert fr-alert--error">
        <p class="fr-alert__title">Une erreur est survenue</p>
        <pre class="error-code">
            <b>Erreur <%= error_code %></b>
            <%= error_message %>
        </pre>
        <p>
            Merci de réessayer ultérieurement.
        </p>
        <p>
            Vous pouvez également nous signaler cette erreur par mail à
            <a href="mailto:contact@api.gouv.fr?subject=Erreur%20sur%20MonComptePro">contact@api.gouv.fr</a>.
        </p>
    </div>
</div>
