<div>
    <div class="fr-alert fr-alert--error fr-mb-2w">
        <p class="fr-alert__title">Une erreur est survenue.</p>
        <pre class="error-code">
            <b>Erreur <%= error_code ;%></b>
            <%= error_message ;%>
        </pre>
        <p>
            Merci de réessayer ultérieurement.
        </p>
        <p>
            Vous pouvez également nous signaler cette erreur par mail à
            <a href="mailto:support+identite@proconnect.gouv.fr?subject=Erreur%20sur%20ProConnect">support+identite@proconnect.gouv.fr</a>.
        </p>
    </div>
    <% if (locals.interactionId && locals.oidcError) { %>
        <a href="/interaction/<%= interactionId ;%>/error?error=<%= locals.oidcError %>" class="fr-btn fr-btn--secondary">Continuer</a>
    <% } else { %>
        <a href="/" class="fr-btn fr-btn--secondary">Retour à l’accueil</a>
    <% } %>
</div>
