<div class="box-container">
    <h3 class="section__title">Questions fréquentes</h3>
    <br>
    <div class="text-left">
        <h5>Je ne reçois pas le code de confirmation</h5>
        <div class="notification info">
            <p>Vous êtes peut-être dans l'une de ces situations :</p>
            <ul>
                <li>Le code de confirmation est arrivé dans vos courriers indésirables</li>
                <li>Vous avez fait une erreur de saisie dans votre adresse email : vous pouvez recréer un compte avec la
                    bonne adresse</li>
                <li>Vous utiliser un outil de protection contre les spams (comme MailInBlack) qui vous empêche de
                    recevoir
                    l'email. Il faut donc autoriser la réception des emails provenant de
                    <strong>contact@api.gouv.fr</strong>
                </li>
            </ul>
            <p>Vous n'êtes dans aucune de ces situations ? <a href="mailto:contact@api.gouv.fr">Ecrivez-nous</a>.</p>
        </div>
    </div>
</div>

<div class="container text-center">
    <p>
        <a class="external-link" href="https://datapass.api.gouv.fr">
            Retour à l’accueil
        </a>
    </p>
</div>
