<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'home'}) %>
    <div class="dashboard-content fr-col-12 fr-col-lg-10 fr-col-xl-9 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Votre compte ProConnect</h2>
        <div class="home-tile">
            <img src="/dist/illu-account.svg" alt="" />
            <p>
                Avec le compte ProConnect, nous vérifions votre identité pour vous donner accès à de nombreux sites et
                outils de l’administration !
            </p>
        </div>
    </div>
</div>
<link rel="stylesheet" href="<%= css("home-tile.css"); %>">
