<div class="page-container">
    <h3>Bienvenue sur votre Compte DataPass</h3>
    <h4>Vos différents accès</h4>
    <div class="home_card_container">
        <div class="home_card">
            <h4>Continuer sur DataPass</h4>
            <div class="home_card_card_content">
                <div class="home_card_card_illustration">
                    <img src="/assets/apartment-rent-rafiki.svg" alt="remise des clés d'un appartement">
                </div>
                <div>
                    DataPass, c’est le service qui vous permet de profiter facilement d’habilitations conformes entre
                    administrations et d’accéder à des données et services en accès restreint.
                </div>
                <div>
                    <a class="fr-btn fr-btn--lg" href="https://datapass.api.gouv.fr">Aller sur DataPass</a>
                </div>
            </div>
        </div>
    </div>
    <div class="home_card_container">
        <div class="home_card">
            <div>
                <h4>API Particulier</h4>
            </div>
            <div class="home_card_card_content">
                <div>Bouquet de données proposé pour simplifier les démarches administratives</div>
                <div>
                    <a class="fr-btn fr-btn--lg" href="https://mon.portail.api.gouv.fr/">
                        Aller sur API Particulier
                    </a>
                </div>
            </div>
        </div>
        <div class="home_card">
            <h4>API Entreprise</h4>
            <div class="home_card_card_content">
                <div>
                    Permet aux entités administratives d’accéder aux données et aux documents administratifs des
                    entreprises et des associations, afin de simplifier leurs démarches
                </div>
                <div>
                    <a class="fr-btn fr-btn--lg" href="https://dashboard.entreprise.api.gouv.fr/">
                        Aller sur API Entreprise
                    </a>
                </div>
            </div>
        </div>
        <div class="home_card">
            <h4>HubEE</h4>
            <div class="home_card_card_content">
                <div>
                    Portail du Hub d’Échange de l’État au sein duquel vous allez pouvoir accéder aux démarches
                    transmises par les usagers
                </div>
                <div>
                    <a class="fr-btn fr-btn--lg" href="https://hubee.numerique.gouv.fr/">
                        Aller sur HubEE
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% if (is_user_connected) { %>
        <h4>Votre compte</h4>
        <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-enlarge-link fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="/users/reset-password">Changement de mot de passe</a>
                            </h4>
                            <p class="fr-card__desc">Accéder à la modification de votre mot de passe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-enlarge-link fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="/users/personal-information">Informations personnelles</a>
                            </h4>
                            <p class="fr-card__desc">Modifier vos informations personnelles</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-col-12 fr-col-md-4">
                <div class="fr-card fr-enlarge-link fr-card--lg">
                    <div class="fr-card__body">
                        <div class="fr-card__content">
                            <h4 class="fr-card__title">
                                <a href="/users/join-organization">Nouvelle organisation</a>
                            </h4>
                            <p class="fr-card__desc">Rejoindre une nouvelle organisation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>
<link rel="stylesheet" href="/assets/home-card.css">
