<div class="page-container">
    <div class="fr-alert fr-alert--info">
        <p class="fr-alert__title">Déconnexion réussie</p>
        <p>
            Vous êtes maintenant déconnecté.
        </p>
    </div>
</div>
