<div class="box-container">
    <h3 class="section__title">Déconnexion réussie</h3>
    <p>
        Vous êtes maintenant déconnecté.
    </p>
</div>

<div class="container text-center">
    <p><a class="external-link" href="https://api.gouv.fr/rechercher-api?filter=signup">Retour à l'accueil</a></p>
</div>
