<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <%# NB: note that this implementation with 2 forms is compliant with IE11 %>
                <%# unlike the default template (https://github.com/panva/node-oidc-provider/blob/1d302cda5a283bf7a703a889834cd3428a442c0f/lib/helpers/defaults.js#L1861-L1879) %>
                <%# NB2: it may break on future release of oidc-provider as it rely on internal strucure of form %>
                <h4 class="fr-card__title">
                    Souhaitez vous être déconnecté de votre compte DataPass ?
                </h4>
                <div class="fr-card__desc">
                    <div class="card-button-container">
                        <form action="/oauth/logout/confirm" method="post">
                            <input type="hidden" name="xsrf" value="<%= xsrfToken %>" autocomplete="off">
                            <button type="submit" class="fr-btn fr-btn--secondary">
                                Non, je reste connecté
                            </button>
                        </form>

                        <form action="/oauth/logout/confirm" method="post">
                            <input type="hidden" name="xsrf" value="<%= xsrfToken %>" autocomplete="off">
                            <input type="hidden" name="logout" value="non-empty-value">
                            <button type="submit" class="fr-btn">
                                Oui, déconnectez moi
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
