<div class="dashboard-container">
    <%- include('partials/sidemenu.ejs', {activeLink: 'passkeys'}) %>
    <main id="main" tabindex="-1" class="dashboard-content fr-col-12 fr-col-lg-9 fr-col-xl-8 fr-col-offset-lg-1">
        <%- include('partials/notifications.ejs', {notifications: notifications}) %>
        <h2>Vos clés d’accès</h2>
    </main>
</div>
