<div class="box-container">
    <h3 class="section__title">Activation de votre compte</h3>

    <% if (locals.notifications) { %>
        <% notifications.forEach(({type, message}) => { %>
            <div class="notification <%= type %>">
                <%= message %>
            </div>
        <% }) %>
    <% } %>

    <% if (displaySendEmailButton) { %>
    <form id="send-email-verification" autocomplete="off" action="/users/send-email-verification" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">

        Je n'ai pas reçu d'email ? <input type="submit" value="Me renvoyer un email d'activation" class="link-submit">
    </form>
    <% } %>

    <% if (locals.continueLink) { %>
        <a href="<%= continueLink %>" class="button large">Continuer</a>
    <% } %>
</div>

<div class="container text-center">
    <p>
        <a class="external-link" href="https://api.gouv.fr/?filter=signup">
            Retour à l'accueil
        </a>
    </p>
</div>
