<div class="box-container">
    <h3 class="section__title">Créer un compte</h3>

    <form action="/users/sign-up" method="post">

    <% if (locals.notifications) { %>
        <% notifications.forEach(({type, message}) => { %>
        <div class="notification <%= type %>">
            <%= message %>
        </div>
        <% }) %>
    <% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

    <div class="form__group">
        <input class="form-control" required type="email" name="login" aria-label="Votre adresse email professionnelle"
               placeholder="Votre adresse email professionnelle"
               <% if (!locals.loginHint && !locals.forceEmail) { %>autofocus="on"<% } %>
               <% if (locals.loginHint) { %> value="<%= locals.loginHint %>" <% } %>
               <% if (locals.forceEmail) { %>disabled<% } %>>
    </div>

    <div class="form__group with-input-hint">
        <input class="form-control" required type="password" name="password" aria-label="Votre nouveau mot de passe*"
               placeholder="Votre nouveau mot de passe*" <% if (locals.loginHint || locals.forceEmail) { %>autofocus="on"<% } %>>
        <small class="card__meta"><i>*10 caractères minimum</i></small>
    </div>

    <div class="form__group">
        <input type="submit" value="Créer mon compte" class="button large wide">
    </div>
    </form>
</div>

<div class="container text-center">
    <p>J’ai déjà un compte ? <a class="external-link" href="/users/sign-in">je me connecte</a></p>
</div>
