<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Votre compte DataPass
                </h4>
                <div class="fr-card__desc">
                    <form action="/users/sign-in" method="post">

                        <% if (locals.notifications) { %>
                            <% notifications.forEach(({ type, message }) => { %>
                                <div class="notification <%= type; %>">
                                    <%= message; %>
                                </div>
                            <% }); %>
                        <% } %>

                        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">

                        <div class="fr-input-group">
                            <label class="fr-label" for="password">
                                Mot de passe
                            </label>
                            <input class="fr-input" required type="password" id="password" name="password"
                                   aria-label="Mot de passe" autofocus="on">
                        </div>

                        <div class="card-button-container">
                            <span>
                                <a id="go-back-link"
                                   class="fr-link fr-fi-arrow-left-line fr-link--icon-left">
                                    retour
                                </a>
                            </span>
                            <button class="fr-btn" type="submit">
                                Connexion
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-alert fr-alert--info">
        <p>
            <a class="external-link" href="/users/reset-password">
                Mot de passe oublié ?
            </a>
        </p>
    </div>
</div>
<script type="text/javascript" src="/assets/go-back.js"></script>
