<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Choisir votre mot de passe
                </h4>
                <div class="fr-card__desc">
                    <form action="/users/sign-up" method="post">
                        <%- include('partials/notifications.ejs', {notifications: notifications}) %>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

                        <div class="fr-input-group">
                            <label class="fr-label" for="password">
                                Mot de passe
                                <span class="fr-hint-text">Choisissez au moins 10 caractères</span>
                            </label>
                            <input class="fr-input" required type="password" id="password" name="password"
                                   aria-label="Mot de passe" autofocus="on" minlength="10">
                        </div>

                        <div class="fr-input-group">
                            <label class="fr-label" for="confirm_password">Confirmez votre mot de passe</label>
                            <input class="fr-input" required type="password" id="confirm_password"
                                   name="confirm_password" aria-label="Confirmez votre mot de passe">
                        </div>

                        <%- include('partials/card-button-container.ejs', {label: 'Créer mon compte'}) %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/confirm-password.js"></script>
