<div class="box-container">
    <h3 class="section__title">Votre compte DataPass</h3>

    <form action="/users/sign-in" method="post">

    <% if (locals.notifications) { %>
        <% notifications.forEach(({type, message}) => { %>
        <div class="notification <%= type %>">
            <%= message %>
        </div>
        <% }) %>
    <% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

    <div class="form__group with-input-hint">
        <label for="password">Mot de passe</label>
        <input class="form-control" required type="password" name="password" aria-label="Mot de passe" autofocus="on">
        <small class="card__meta">
            <i>
                <a class="external-link" href="/users/reset-password">Mot de passe oublié ?</a>
            </i>
        </small>
    </div>

    <div class="form__group">
        <input type="submit" value="Connexion" class="button large wide">
    </div>
    </form>
</div>
