<div class="box-container">
    <h3 class="section__title">Votre compte DataPass</h3>

    <form action="/users/start-sign-in" method="post">

    <% if (locals.notifications) { %>
        <% notifications.forEach(({type, message}) => { %>
        <div class="notification <%= type %>">
            <%= message %>
        </div>
        <% }) %>
    <% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

    <div class="form__group with-input-hint">
        <label for="login">Email</label>
        <input class="form-control" required type="email" name="login" aria-label="Email"
               <% if (!locals.loginHint) { %>autofocus="on"<% } else { %> value="<%= locals.loginHint %>" <% } %>
        >
        <small class="card__meta">
            <i>
                Celui que vous utilisez dans le cadre de votre travail
            </i>
        </small>
    </div>
    <div class="form__group">
        <input type="submit" value="Valider" class="button large wide">
    </div>
    </form>
</div>
