<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Vérifier votre email
                </h4>
                <div class="fr-card__desc">
                    <form id="verify-email" action="/users/verify-email" method="post">
                        <%- include('partials/notifications.ejs', {notifications: notifications}) %>

                        <p>
                            Un code de vérification a été envoyé à
                            <span id="email-badge-lowercase" class="fr-badge fr-badge--info fr-badge--no-icon">
                                <%= email; %>
                            </span>.
                        </p>

                        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off" />


                        <div class="fr-input-group">
                            <label class="fr-label" for="verify_email_token">
                                Code de vérification à 10 chiffres
                                <span class="fr-hint-text">
                                    Copiez-collez ou saisissez le code reçu par email
                                </span>
                            </label>
                            <input class="fr-input" required
                                   pattern="[0-9]{10}" type="text" id="verify_email_token" size="10"
                                   title="10 chiffres"
                                   name="verify_email_token" autofocus
                                   aria-label="Code de vérification à 10 chiffres">
                        </div>

                        <%- include('partials/card-button-container.ejs', {label: 'Suivant'}) %>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="fr-alert fr-alert--info">
        <p>
            J'ai attendu 15 minutes et je ne reçois pas de code de vérification
        </p>
        <p>
            <a class="fr-link fr-fi-arrow-right-line fr-link--icon-left" href="/users/help">Consulter l'aide</a>
        </p>
    </div>
</div>
