<html>
<% include partials/head %>
<body>
<div class="main">
    <header class="navbar" role="navigation">
        <div class="navbar__container">
            <a class="navbar__home" href="index.html">
                <img class="navbar__logo" src="/assets/logo_api.svg" alt="template.data.gouv.fr">
            </a>
            <form class="inline" action="/users/sign-in" method="post">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

                <div class="form__group">
                    <label for="signin-email">Email</label>
                    <input required type="email" name="login" autofocus="on">
                </div>

                <div class="form__group">
                    <label for="password">Mot de passe
                        <small class="card__meta">
                            <i>
                                <a class="external-link" href="/users/reset-password" tabindex="-1">(Mot de passe oublié ?)</a>
                            </i>
                        </small>
                    </label>
                    <input class="form-control" required type="password" name="password">
                </div>

                <div class="form__group">
                    <input type="submit" value="Connexion" class="button large">
                </div>
            </form>
        </div>
    </header>

    <div class="box-container">
        <div class="text-center">
            <% if (locals.source === 'partnerpage_publicorganisation') { %>
                <img src="/assets/logo_franceconnect.png" alt="Logo FranceConnect" height="90">
                <h3>Vous représentez une administration ou une collectivité</h3>
                <p>
                    Vous souhaitez intégrer le bouton d'identification FranceConnect à votre service en
                    ligne. Merci de créer un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'partnerpage_privateorganisation') { %>
                <img src="/assets/logo_franceconnect.png" alt="Logo FranceConnect" height="90">
                <h3>Vous représentez une société de droit privé</h3>
                <p>
                    Vous souhaitez intégrer le bouton d'identification FranceConnect à votre service en
                    ligne. Merci de créer un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'signup_franceconnect') { %>
                <img src="/assets/logo_franceconnect.png" alt="Logo FranceConnect" height="90">
                <h3>Créer un compte</h3>
                <p>
                    Vous souhaitez intégrer le bouton d'identification FranceConnect à votre service en
                    ligne. Merci de créer un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'signup_api-particulier') { %>
                <img src="/assets/logo-beta-gouv.svg" alt="Logo API Particulier" height="90">
                <h3>Créer un compte</h3>
                <p>
                    Vous souhaitez connecter votre service en ligne à l'API Particulier. Merci de créer
                    un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'signup_api-entreprise') { %>
                <img src="/assets/logo-beta-gouv.svg" alt="Logo API Entreprise" height="90">
                <h3>Créer un compte</h3>
                <p>
                    Vous souhaitez connecter votre service en ligne à l'API Entreprise. Merci de créer
                    un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'signup_api-impot-particulier') { %>
                <img src="/assets/logo-dgfip.jpg" alt="Logo API Impôt particulier" height="90">
                <h3>Créer un compte</h3>
                <p>
                    Vous souhaitez connecter votre service en ligne à l'API Impôt particulier. Merci de
                    créer un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'signup_api-droits-cnam') { %>
                <img src="/assets/cnam.jpg" alt="Logo API de droits à l'Assurance Maladie" height="90">
                <h3>Créer un compte</h3>
                <p>
                    Vous souhaitez connecter l'API de droits à l'Assurance Maladie à votre service en
                    ligne. Merci de créer un compte pour déposer votre demande et suivre son traitement.
                </p>
            <% } else if (locals.source === 'signup') { %>
                <h3 class="section__title">Créer un compte</h3>
                <p>
                    Vous souhaitez déposer une demande d'habilitation ou alors suivre le traitement d'une
                    demande d'habilitation. Merci de vous créer un compte afin que nous puissions
                    configurer vos accès.
                </p>
            <% } else { %>
                <h3 class="section__title">Créer un compte</h3>
            <% } %>
        </div>

        <form action="/users/sign-up" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

            <div class="form-row">
                <div class="form-col">
                    <input class="form-control" required type="text" name="given_name"
                           placeholder="Votre prénom">
                </div>
                <div class="form-col">
                    <input class="form-control" required type="text" name="family_name"
                           placeholder="Votre nom de famille">
                </div>
            </div>

            <div class="form__group">
                <input class="form-control" required type="email" name="login"
                       placeholder="Votre adresse email">
            </div>

            <div class="form__group with-input-hint">
                <input class="form-control" required type="password" name="password"
                       placeholder="Votre nouveau mot de passe*">
                <small class="card__meta"><i>*10 caractères minimum</i></small>
            </div>

            <div class="form__group">
                <input type="submit" value="Créer mon compte" class="button large">
            </div>
        </form>
    </div>

    <div class="container text-center">
        <p>Vous avez déjà un compte ou vous avez déjà fait une demande ? <a class="external-link" href="/users/sign-in">Connectez-vous</a></p>
    </div>
</div>
</body>
</html>
