<div class="card-button-container">
    <span>
        <% if (locals.showGoBackButton) { %>
            <button
                    id="go-back-link"
                    type="button"
                    class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left"
            >
                retour
            </button>
            <script type="text/javascript" src="/assets/go-back.js"></script>
        <% } %>
    </span>
    <button class="fr-btn" type="submit" <% if (locals.ariaLabel) { %>aria-label="<%= locals.ariaLabel; %>"<% } %>>
        <%= label; %>
    </button>
</div>
