<div class="card-button-container">
    <span>
        <% if (locals.showGoBackButton) { %>
            <a
              type="button"
              class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left"
              href="/users/start-sign-in"
            >
                retour
            </a>
        <% } %>
    </span>
    <button class="fr-btn" type="submit">
        <%= label; %>
    </button>
</div>
