<div class="card-button-container">
    <span>
        <% if (locals.showGoBackButton) { %>
            <button
                    type="button"
                    class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left go-back-link"
            >
                retour
            </button>
            <script type="module" src="<%= js('go-back.js') %>"></script>
        <% } %>
    </span>
    <button class="fr-btn" type="submit" <% if (locals.ariaLabel) { %>aria-label="<%= locals.ariaLabel; %>"<% } %>>
        <%= label; %>
    </button>
</div>
