<div class="fr-mt-2w">
  <button
    class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left go-back-link"
  >
    retour
  </button>
</div>
<script type="module" src="<%= js('go-back.js') %>"></script>
