<div class="card-button-container fr-mt-2w">
  <span>
    <button
      class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left go-back-link"
    >
      retour
    </button>
  </span>
  <span></span>
</div>
<script type="module" src="<%= js('go-back.js') %>"></script>