<head>
    <title>Compte DataPass</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="googlebot" content="noindex,nofollow" />

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-32x32.png">
    <link rel="stylesheet" href="/assets/application_20220702.css">
    <link rel="stylesheet" href="/assets/dsfr.min.css">
    <link rel="stylesheet" href="/assets/utility/utility.css">
    <!-- Matomo -->
    <script type="text/javascript" src="/assets/matomo.js"></script>
    <noscript><p><img src="https://stats.data.gouv.fr/matomo.php?idsite=85&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
</head>
