<div class="fr-alert fr-alert--info">
    <p class="fr-alert__title">Maintenance</p>
    <p>
        Suite à une opération de maintenance, MonComptePro ne sera pas disponible le <b>lundi 22 janvier entre 6h et 7h</b>.
    </p>
</div>
