<% if (notifications && notifications.length > 0) { %>
  <div id="notifications">
    <% if (!locals.noWrapperDiv) { %>
    <div class="fr-input-group">
        <% } %>
        <% notifications.forEach(({ type, title, description }) => { %>
            <div class="fr-alert fr-alert--<%= type; %> fr-mb-2w">
                <% if (title) { %>
                    <p class="fr-alert__title"><%= title; %></p>
                <% } %>
                <p class="alert-description"><%= description; %></p>
            </div>
        <% }); %>
        <% if (!locals.noWrapperDiv) { %>
    </div>
    <% } %>
  </div>
<% } %>
