<% if (notifications) { %>
    <div class="fr-input-group">
        <% notifications.forEach(({ type, title, description }) => { %>
            <div class="fr-alert fr-alert--<%= type; %>">
                <% if (title) { %>
                    <p class="fr-alert__title"><%= title; %></p>
                <% } %>
                <p><%= description; %></p>
            </div>
        <% }); %>
    </div>
<% } %>
