<div class="fr-messages-group" id="password-input-messages">
  <p class="fr-message" id="password-input-message">
    <span aria-hidden="true">Votre mot de passe doit contenir :</span>
    <span class="fr-sr-only"
      >Votre mot de passe doit respecter toutes ces conditions:</span
    >
  </p>
  <ul class="fr-p-0 fr-m-0" role="list">
    <li
      class="fr-message fr-message--info fr-mt-0 fr-pb-0"
      id="password-input-message-10char"
    >
      10 caractères minimum<span class="fr-sr-only">,</span>
    </li>
    <li
      class="fr-message fr-message--info fr-pb-0"
      id="password-input-message-special"
    >
      1 caractère spécial minimum<span class="fr-sr-only">,</span>
    </li>
    <li
      class="fr-message fr-message--info fr-pb-0"
      id="password-input-message-number"
    >
      1 chiffre minimum<span class="fr-sr-only">,</span>
    </li>
    <li
      class="fr-message fr-message--info fr-pb-0"
      id="password-input-message-lowercase"
    >
      1 lettre minuscule minimum<span class="fr-sr-only">,</span>
    </li>
    <li
      class="fr-message fr-message--info fr-pb-0"
      id="password-input-message-uppercase"
    >
      1 lettre majuscule minimum<span class="fr-sr-only">,</span>
    </li>
    <li
      class="fr-message fr-message--info fr-pb-0"
      id="password-input-message-128char"
    >
      128 caractères maximum<span class="fr-sr-only">,</span>
    </li>
    <li
      class="fr-message fr-message--info fr-pb-0"
      id="password-input-message-3same"
    >
      2 caractères identiques successifs maximum<span class="fr-sr-only"
        >,</span
      >
    </li>
  </ul>
  <p class="fr-message" id="passphrase-input-message">
    <span
      >Alternativement, votre mot de passe peut être une
      <i>phrase secrête</i> et doit contenir :</span
    >
  </p>
  <p class="fr-message fr-message--info" id="passphrase-input-message-20char">
    20 caractères minimum<span class="fr-sr-only">,</span>
  </p>
  <p
    class="fr-message fr-message--info"
    id="password-input-message-blacklisted-word"
  ></p>
</div>
