<div
  class="fr-col-lg-6 fr-pt-5w ac-full-height mcp-background-alt-grey side-media"
>
  <div class="fr-grid-row fr-grid-row--center">
    <div>
      <img src="/dist/authent.svg" class="fr-responsive-img" alt="" />
    </div>
  </div>
</div>
