<div
  class="fr-col-lg-6 fr-pt-5w mcp-full-height mcp-background-alt-grey side-media mcp-pb"
>
  <div class="fr-grid-row fr-grid-row--center">
    <div>
      <img src="/dist/<%= illu %>" class="fr-responsive-img" alt="" />
    </div>
  </div>
</div>
