<nav class="fr-sidemenu">
    <div class="fr-sidemenu__inner">
        <button
                id="fr-sidemenu-btn"
                class="fr-sidemenu__btn"
                hidden
                aria-controls="fr-sidemenu-wrapper"
                aria-expanded="false"
        >
            Menu
        </button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
            <ul class="fr-sidemenu__list">
                <li class="fr-sidemenu__item <% if (activeLink === "home") { %>fr-sidemenu__item--active<% } %>">
                    <a
                            class="fr-sidemenu__link" href="/"
                            <% if (activeLink === "home") { %>aria-current="page"
                            <% } %>
                    >Accueil</a>
                </li>
                <li class="fr-sidemenu__item <% if (activeLink === "connection-and-account") { %>fr-sidemenu__item--active<% } %>">
                    <a
                            class="fr-sidemenu__link" href="/connection-and-account"
                            <% if (activeLink === "connection-and-account") { %>aria-current="page"
                            <% } %>
                    >Compte et connexion</a>
                </li>
                <li class="fr-sidemenu__item <% if (activeLink === "personal-information") { %>fr-sidemenu__item--active<% } %>">
                    <a
                            class="fr-sidemenu__link"
                            href="/personal-information"
                            <% if (activeLink === "personal-information") { %>aria-current="page"
                            <% } %>
                    >
                        Info personnelles
                    </a>
                </li>
                <li class="fr-sidemenu__item <% if (activeLink === "manage-organizations") { %>fr-sidemenu__item--active<% } %>">
                    <a
                            class="fr-sidemenu__link" href="/manage-organizations"
                            <% if (activeLink === "manage-organizations") { %>aria-current="page"
                            <% } %>
                    >Organisations</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script type="module" src="<%= js('collapse-sidemenu.js') %>"></script>
