<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <h1 class="fr-h3">
        Configurer la connexion à deux facteurs (2FA)
    </h1>
</div>
