<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h1 class="fr-card__title">
                    Votre organisation de rattachement
                </h1>
                <div class="fr-card__desc">
                    <%- include('../partials/notifications.ejs', {notifications: notifications}) %>
                    <form id="form-join-organization" action="/users/join-organization" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" autocomplete="off">

                        <div class="fr-input-group">
                            <label class="fr-label" for="siret-selector">
                                SIRET de l’organisation que vous représentez
                                <span class="fr-hint-text">
                                    Il est composé de 14 chiffres
                                </span>
                            </label>
                            <input
                                    id="siret-selector"
                                    class="fr-input"
                                    required
                                    type="text"
                                    name="siret"
                                    pattern="^(\s*\d){14}$"
                                    maxlength="20"
                                    title="identifiant composé de 14 chiffres attribué par l’INSEE à votre organisation"
                                    <% if (locals.siretHint) { %>value="<%= locals.siretHint %>"
                                    <% } %>
                            >
                            <p class="fr-info-text">
                                <a class="fr-link"
                                   href="https://annuaire-entreprises.data.gouv.fr/?mtm_campaign=moncomptepro"
                                   target="_blank"
                                   rel="noopener noreferrer"
                                >
                                    Retrouver votre SIRET sur L’Annuaire des Entreprises
                                </a>
                            </p>
                        </div>

                        <div class="fr-input-group">
                            <div id="organization-info" hidden>
                                <div id="submit-join-organization" class="fr-tile fr-enlarge-link fr-tile--horizontal">
                                    <div class="fr-tile__body">
                                        <h2 class="fr-tile__title">
                                            <b><a id="organization-info-libelle" class="fr-tile__link" href></a></b>
                                        </h2>
                                        <p id="organization-info-adresse" class="fr-tile__desc"></p>
                                        <p id="organization-info-activite-principale" class="fr-tile__desc"></p>
                                    </div>
                                </div>
                            </div>
                            <div id="organization-alert" hidden class="fr-alert fr-alert--error"></div>
                        </div>

                        <%- include('../partials/card-button-container.ejs', {label: 'Enregistrer'}) %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/fetch-organization-info_20231201.js"></script>
<script src="/assets/submit-tile-forms.js"></script>
