<div>
    <h1 class="fr-h3">
        Consultez vos e-mails
    </h1>
    <div>
        <p>
            Votre lien vous attend
            <% if (locals.email) { %> à l’adresse...
            <br aria-hidden="true">
            <b><%= email %></b>
            <% } %>
        </p>
        <div id="magic-link-icon-block">
            <img src="/dist/magic-link.svg" alt="">
        </div>
        <p>Cliquez sur le lien dans l’email pour vous connecter.</p>
    </div>
</div>
