<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Consultez vos e-mails
                </h4>
                <div class="fr-card__desc">
                    <p>
                        Votre lien vous attend
                        <% if (locals.email) { %> à l’adresse...
                        <br>
                        <b><%= email %></b>
                        <% } %>
                    </p>
                    <div id="magic-link-icon-block">
                        <img src="/assets/magic-link.svg" alt="illustration magic link">
                    </div>
                    <p>Cliquez sur le lien dans l’email pour vous connecter.</p>
                </div>
            </div>
        </div>
    </div>
</div>
