<div class="card-container">
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <div class="fr-alert fr-alert--error" id="webauthn-alert-error" hidden></div>
    <div class="fr-alert fr-alert--success" id="webauthn-alert-success" hidden></div>
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Se connecter avec une clé d’accès
                </h4>
                <div class="fr-card__desc">
                    <p>
                        Votre appareil vous demandera d'utiliser votre empreinte, votre visage ou
                        le verrouillage de l'écran pour valider votre identité.
                    </p>

                    <p>
                        <a
                                class="fr-link" target="_blank" rel="noopener noreferrer"
                                href="https://fr.wikipedia.org/wiki/Cl%C3%A9_d%27acc%C3%A8s"
                        >
                            En savoir plus
                        </a>
                    </p>

                    <ul class="fr-btns-group">
                        <li>
                            <button class="fr-btn" id="webauthn-btn-begin-authentication">
                                Continuer
                            </button>
                        </li>
                    </ul>

                    <div class="card-button-container">
                        <span>
                                <button
                                        id="go-back-link"
                                        type="button"
                                        class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left"
                                >
                                    retour
                                </button>
                        </span>
                        <span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="webauthn-authentication-response-form" action="/users/sign-in-with-passkey" method="post" hidden>
        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">
        <input type="hidden" name="webauthn_authentication_response_string" autocomplete="off">
        <button type="submit" class="fr-btn"></button>
    </form>
</div>
<script src="/assets/simplewebauthn.umd.min.js"></script>
<script src="/assets/webauthn-authentication-20240111.js"></script>
<script type="text/javascript" src="/assets/go-back.js"></script>
