<div>
    <%- include('../partials/notifications.ejs', {notifications: notifications, noWrapperDiv: true}) %>
    <div class="fr-alert fr-alert--error fr-mb-2w" id="webauthn-alert-error" hidden></div>
    <div class="fr-alert fr-alert--success fr-mb-2w" id="webauthn-alert-success" hidden></div>
    <h1 class="fr-h3">
        Se connecter avec une clé d’accès
    </h1>
    <div>
        <p>
            Votre appareil vous demandera d'utiliser votre empreinte, votre visage ou
            le verrouillage de l'écran pour valider votre identité.
        </p>
        <p>
            <a
                class="fr-link" target="_blank" rel="noopener noreferrer"
                href="https://fr.wikipedia.org/wiki/Cl%C3%A9_d%27acc%C3%A8s"
            >
                En savoir plus
            </a>
        </p>
        <button class="fr-btn btn--fullwidth fr-mb-2w" id="webauthn-btn-begin-authentication">
            Continuer
        </button>
        <button
            id="go-back-link"
            type="button"
            class="fr-btn fr-btn--tertiary fr-icon-arrow-go-back-line fr-btn--icon-left"
        >
            retour
        </button>
    </div>
    <form id="webauthn-authentication-response-form" action="/users/sign-in-with-passkey" method="post" hidden>
        <input type="hidden" name="_csrf" value="<%= csrfToken; %>" autocomplete="off">
        <input type="hidden" name="webauthn_authentication_response_string" autocomplete="webauthn">
        <button type="submit" class="fr-btn"></button>
    </form>
</div>

<script type="module" src="<%= js('webauthn-authentication.js') %>"></script>
<script type="module" src="<%= js('go-back.js') %>"></script>
