<div class="card-container">
  <div class="fr-card">
    <div class="fr-card__body">
      <div class="fr-card__content">
        <div>
          <img src="/dist/check.svg" alt="" />
        </div>
        <br />
        <h1 class="fr-h3">Merci pour votre vérification !</h1>
        <div class="fr-card__desc">
          <p>
            Votre collègue peut à présent utiliser les services utilisant
            MonComptePro.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
