<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <div>
                    <✅>
                </div>
                <br>
                <h4 class="fr-card__title">
                    Merci pour votre vérification !
                </h4>
                <div class="fr-card__desc">
                    <p>
                        [nom du user validé] peut à présent utiliser les services utilisant MonComptePro.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
