<div class="card-container">
    <div class="fr-card">
        <div class="fr-card__body">
            <div class="fr-card__content">
                <h4 class="fr-card__title">
                    Rattachement en cours
                </h4>
                <div class="fr-card__desc">
                    <br />
                    <p>
                        ⏱️ Notre équipe est en train de vous rattacher à
                        <% if (locals.libelle) { %>
                            l’organisation <%= libelle %>.
                        <% } else { %>
                            cette organisation.
                        <% } %>
                    </p>
                    <p>
                        Vous recevrez un email pour accéder à votre démarche dès que nous aurons terminé.
                    </p>
                    <p>
                        <i>(délai moyen : 3 jours)</i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
