<div>
    <div class="fr-mb-2w">
        <img src="/dist/check.svg" alt="" />
    </div>
    <h1 class="fr-h3">
        <% if (locals.showInclusionConnectOnboardingHelp) { %>
            Votre compte ProConnect est à jour.
        <% } else { %>
            Votre compte est créé !
        <% } %>
    </h1>
    <div>
        <p>
            Vous avez reçu un email de confirmation.
        </p>
        <form action="/users/welcome" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken; %>">

            <%- include('../partials/card-button-container.ejs', {label: 'Continuer'}) %>
        </form>
    </div>
</div>
