name: Fixtures tests

on:
  push:
    branches:
      - "**"
      - "!master"

env:
  ACCESS_LOG_PATH:
  PGUSER: moncomptepro
  PGPASSWORD: moncomptepro
  PGDATABASE: moncomptepro
  PGHOST: 127.0.0.1
  PGPORT: 5432
  DATABASE_URL: postgres://moncomptepro:moncomptepro@127.0.0.1:5432/moncomptepro
  INSEE_CONSUMER_KEY: ${{ secrets.INSEE_CONSUMER_KEY }}
  INSEE_CONSUMER_SECRET: ${{ secrets.INSEE_CONSUMER_SECRET }}
  NODE_ENV: test
  SYMMETRIC_ENCRYPTION_KEY: aTrueRandom32BytesLongBase64EncodedStringAA=

jobs:
  test:
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:15.8
        env:
          POSTGRES_USER: ${{ env.PGUSER }}
          POSTGRES_PASSWORD: ${{ env.PGPASSWORD }}
          POSTGRES_DB: ${{ env.PGDATABASE }}
        ports:
          - 5432:5432
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version-file: package.json
      - run: npm ci --omit=dev # omit dev dependencies to simulate deployed environment
      - run: npm run build:workspaces
      - run: npm run migrate up
      - run: npm run fixtures:load-ci -- scripts/fixtures.sql
      - run: npm run update-organization-info -- 500
