Bonjour <%= given_name %> <%= family_name %>,<br /><br />
Une clé d'accès a été supprimée de votre compte.
<br /><br />
<strong>
  <a
    href="mailto:contact@moncomptepro.beta.gouv.fr?subject=Erreur%20-%20Mon%20organisation"
    style="text-decoration: underline; color: rgb(0, 0, 145)"
  >
    <u>
      Si vous n'avez pas supprimé de clé d'accès, quelqu'un utilise peut-être
      votre compte. Faites-le nous savoir en répondant à cet email.
    </u>
  </a>
</strong>
<br /><br />
Cordialement,
<br /><br />
L’équipe MonComptePro
