Bonjour,
<br /><br />
<p>Votre organisation <%= nom_raison_sociale %> possède un compte api.gouv.fr.</p>
<br /><br />
Nous avons besoin de vérifier par nous-même que vous faites bien partie de cette organisation.
Vous recevrez un email dès que nous aurons terminé (délai moyen : 15 jours).
<br /><br />
Si vous avez la moindre question, écrivez-nous à contact@api.gouv.fr
<br /><br />
Cordialement,
<br /><br />
L'équipe d'api.gouv.fr
