Bonjour <%= given_name %> <%= family_name %>,
<br /><br />
Votre compte api.gouv.fr a été créé avec succès.
<br /><br />
Pour vous connecter utilisez votre adresse mail <b><%= email %></b>.<br />
Le mot de passe est celui que vous avez renseigné lors de la création du compte.<br />
<br /><br />
Avec votre compte API.gouv.fr vous pouvez :
<br /><br />
<ul>
    <li>
        Gérer vos habilitations DataPass pour Aidants Connect, HubEE, FranceConnect et api ➡ <a href="https://datapass.api.gouv.fr" style="text-decoration: underline; color: rgb(0, 0, 145);">https://datapass.api.gouv.fr</a>
    </li>
    <li>
        Gérer votre token API Entreprise ➡ <a href="https://dashboard.entreprise.api.gouv.fr/login" style="text-decoration: underline; color: rgb(0, 0, 145);">https://dashboard.entreprise.api.gouv.fr/login</a>
    </li>
    <li>
        Gérer votre token API Particulier ➡ <a href="https://mon.portail.api.gouv.fr" style="text-decoration: underline; color: rgb(0, 0, 145);">https://mon.portail.api.gouv.fr</a>
    </li>
</ul>
<br /><br />
Vous pouvez également à tout moment :
<br /><br />
<ul>
    <li>
        modifier vos informations personnelles ➡ <a href="https://auth.api.gouv.fr/users/personal-information" style="text-decoration: underline; color: rgb(0, 0, 145);">https://auth.api.gouv.fr/users/personal-information</a>
    </li>
    <li>
        rejoindre une nouvelle organisation ➡ <a href="https://auth.api.gouv.fr/users/join-organization" style="text-decoration: underline; color: rgb(0, 0, 145);">https://auth.api.gouv.fr/users/join-organization</a>
    </li>
</ul>
<br /><br />
Cordialement,
<br /><br />
L’équipe d’api.gouv.fr
