Bonjour <%= given_name %> <%= family_name %>,
<br /><br />
Votre compte MonComptePro a été créé avec succès.
<br /><br />
Pour vous connecter utilisez votre adresse mail <b><%= email %></b>.
<br /><br />
À tout moment, retrouvez les informations de votre compte MonComptePro sur <a href="https://auth.api.gouv.fr/" style="text-decoration: underline; color: rgb(0, 0, 145);">https://auth.api.gouv.fr/</a>
<br /><br />
Cordialement,
<br /><br />
L’équipe MonComptePro
