Bonjour <%= given_name %> <%= family_name %>,
<br /><br />
Votre compte MonComptePro est créé !
<br /><br />
Vous pouvez à présent retourner sur votre démarche ou demande.
<br /><br />
À tout moment, retrouvez les informations de votre compte MonComptePro sur <a href="https://app.moncomptepro.beta.gouv.fr/" style="text-decoration: underline; color: rgb(0, 0, 145);">https://app.moncomptepro.beta.gouv.fr/</a>
<br /><br />
Cordialement,
<br /><br />
L’équipe MonComptePro
